<h4>Notas antes de começar o exercício:</h4>

<ol>
<li>Inicialmente, entre no <a href='https://www.github.com'>GitHub</a> e crie um usuário para você.</li>
<li>Após isso, crie um repositório com o nome "Programação_1"</li>
<li>Crie uma pasta com o nome "Exercícios_de_sala"<br/>
Todos os exercícios que você fizer em sala deverão ser armazenados nessa pasta.<br/>
Após testar o seu código e ver se funciona corretamente, crie dois arquivos conforme esse modelo:<br/>
* Arquivo 1: atividade-2022-05-27.c<br/>
* Arquivo 2: atividade-2022-05-27.txt<br/>
-> O "Arquivo 1" deverá conter o seu código fonte.<br/>
-> O "Arquivo 2" deverá conter os testes que você fizer na execução do seu programa.</li>
<li>Envie um e-mail para o professor informando:
    <ul>
        <li>seu nome,</li>
        <li>sua matrícula,</li>
        <li>sua turma,</li>
        <li>seu endereço no GitHub.</li>
    </ul>
</li>
</ol>
